# High School Academic Achievement
## English
### Exploratory Data Analysis EDA¶

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
%matplotlib inline

In [28]:
df = pd.read_excel("PREPARED_DS_V1.xlsx")

In [29]:
df.head()

,PermanentIncomeSupport_1,PermanentIncomeSupport_2,PermanentIncomeSupport_3,Scholarship_1,Scholarship_2,Gender_M,AcYear_11,AcYear_12,N_NoApprovals,Nationality,...,UrbanIndex,IncomeIndex,AgingIndex,UnemploymentIndex,CulturalLevelIndex,ClassSize,SchoolSize,N_SubjectsEnrolled,Gender_M__ClassSize,FinalMark
0,0,0,0,0,0,0,1,0,0,0,...,138.4,875.1,146.2,9.73,12.77,23,193,7,0,10
1,0,0,0,0,0,1,0,1,0,0,...,5090.4,1560.6,189.3,11.76,70.93,29,519,5,29,19
2,0,1,0,1,0,0,0,1,0,0,...,5090.4,1560.6,189.3,11.76,70.93,29,519,5,0,16
3,1,0,0,0,1,0,1,0,2,0,...,5090.4,1560.6,189.3,11.76,70.93,25,519,7,0,10
4,0,0,0,0,0,1,0,1,0,0,...,5090.4,1560.6,189.3,11.76,70.93,29,519,5,29,17

In [30]:
df.shape

(362127, 24)

In [31]:
Course_Subject = df['CourseSubject'].unique()
print("Shape per Course Subject:\n")
for i in Course_Subject:
    Subject_i= df[df['CourseSubject']== i]
    print(i, '\t', Subject_i.shape)

Shape per Course Subject:

Língua Estrangeira I - Inglês 	 (54885, 24)
Matemática A 	 (46593, 24)
Biologia 	 (16451, 24)
Psicologia B 	 (16197, 24)
Português 	 (75035, 24)
História A 	 (19756, 24)
Filosofia 	 (57249, 24)
Geografia A 	 (19884, 24)
Física e Química A 	 (28581, 24)
Biologia e Geologia 	 (27496, 24)

In [32]:
df['CourseSubject'].unique()

array(['Língua Estrangeira I - Inglês', 'Matemática A', 'Biologia',
       'Psicologia B', 'Português', 'História A', 'Filosofia',
       'Geografia A', 'Física e Química A', 'Biologia e Geologia'],
      dtype=object)

In [36]:
# df=df[df.ClassSize >= 5]
# df[(df['A'] < 5) & (df['B'] > 5)]
df1=df[(df['CourseSubject'] == "Língua Estrangeira I - Inglês") | (df['CourseSubject'] == "Psicologia B") |
     (df['CourseSubject'] == "Português") | (df['CourseSubject'] == "História A") |
      (df['CourseSubject'] == "Filosofia")]

# df1=df[(df['CourseSubject'] == "Matemática A") | (df['CourseSubject'] == "Biologia") |
  #   (df['CourseSubject'] == "Geografia A") | (df['CourseSubject'] == "Física e Química A") |
   #    (df['CourseSubject'] == "Biologia e Geologia")]


# df1=df[(df['CourseSubject'] == "Matemática A")]
#223122

In [37]:
df1.shape

(223122, 24)

In [38]:
df1=df1.drop('CourseSubject', axis=1)

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223122 entries, 0 to 362126
Data columns (total 23 columns):
PermanentIncomeSupport_1    223122 non-null int64
PermanentIncomeSupport_2    223122 non-null int64
PermanentIncomeSupport_3    223122 non-null int64
Scholarship_1               223122 non-null int64
Scholarship_2               223122 non-null int64
Gender_M                    223122 non-null int64
AcYear_11                   223122 non-null int64
AcYear_12                   223122 non-null int64
N_NoApprovals               223122 non-null int64
Nationality                 223122 non-null int64
N_Enrollments               223122 non-null int64
Computer                    223122 non-null int64
InternetAccess              223122 non-null int64
UrbanIndex                  223122 non-null float64
IncomeIndex                 223122 non-null float64
AgingIndex                  223122 non-null float64
UnemploymentIndex           223122 non-null float64
CulturalLevelIndex          223122 non-null float64
ClassSize                   223122 non-null int64
SchoolSize                  223122 non-null int64
N_SubjectsEnrolled          223122 non-null int64
Gender_M__ClassSize         223122 non-null int64
FinalMark                   223122 non-null int64
dtypes: float64(5), int64(18)
memory usage: 40.9 MB

In [42]:
#df2=df1[(df1['AcYear_12']==0) & (df1['AcYear_11']==0)]
#df2.mean()
df1.groupby('AcYear_11').mean()

,PermanentIncomeSupport_1,PermanentIncomeSupport_2,PermanentIncomeSupport_3,Scholarship_1,Scholarship_2,Gender_M,AcYear_12,N_NoApprovals,Nationality,N_Enrollments,...,UrbanIndex,IncomeIndex,AgingIndex,UnemploymentIndex,CulturalLevelIndex,ClassSize,SchoolSize,N_SubjectsEnrolled,Gender_M__ClassSize,FinalMark
AcYear_11,,,,,,,,,,,,,,,,,,,,,
0,0.128775,0.145499,0.009845,0.147013,0.138611,0.411514,0.637854,0.327609,0.027100,1.084546,...,1157.998749,1004.315314,142.794171,13.092108,32.186204,26.895296,658.333955,5.712293,11.119769,13.354745
1,0.128725,0.145241,0.011381,0.145508,0.136827,0.432656,0.000000,0.289822,0.029893,1.058155,...,1235.713018,1022.558147,144.170988,13.131070,32.371464,25.589269,631.775553,6.987228,11.108681,13.712977

df1.describe()

# xs=["Gender_M", "NEnroll_2", "NEnroll_3","NEnroll_4"]
# ys=["Gender_M", "NEnroll_2", "NEnroll_3","NEnroll_4"]
xs=df1.columns[0:6]
ys=df1.columns[0:6]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[0:6]
ys=df1.columns[6:12]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[0:6]
ys=df1.columns[12:18]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[0:6]
ys=df1.columns[18:]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[6:12]
ys=df1.columns[6:12]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[6:12]
ys=df1.columns[12:18]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[6:12]
ys=df1.columns[18:]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[12:18]
ys=df1.columns[12:18]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[12:18]
ys=df1.columns[18:]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

xs=df1.columns[18:]
ys=df1.columns[18:]
sns.pairplot(df1, height=1.5, x_vars = xs,
                  y_vars = ys);
plt.show()

corr= df1.corr()
corr.style.background_gradient(cmap='coolwarm', axis=None)
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

corr[np.abs(corr) < 0.6] = 0
pd.options.display.float_format = '{:,.4f}'.format
plt.figure(figsize=(16,10))
sns.heatmap(corr, cmap="YlGnBu", annot=True)
plt.show()

The correlation matrix shows potential issues of multicolinearity between:
    PermanentIncomeSupport and Scholarship
    InternetAccess and Computer
    Incomeindex and UrbanIndex
The dependent variable is not significantly correlated with any of the independent variables.

### The lasso method for variable selection¶

The lasso method requires initial standardization of the regressors, so that the penalization scheme is fair to all regressors. For categorical regressors, one codes the regressor with dummy variables and then standardizes the dummy variables.

## LASSO Regression

A linear model that estimates sparse coefficients.

Mathematically, it consists of a linear model trained with $\ell_1$ prior as regularizer. The objective function to minimize is:

$$\min_{w}\frac{1}{2n_{samples}} \big|\big|Xw - y\big|\big|_2^2 + \alpha \big|\big|w\big|\big|_1$$

The lasso estimate thus solves the minimization of the least-squares penalty with $\alpha \big|\big|w\big|\big|_1$ added, where $\alpha$ is a constant and $\big|\big|w\big|\big|_1$ is the $\ell_1-norm$ of the parameter vector.

The Lasso is a shrinkage and selection method for linear regression. It minimizes the usual sum of squared errors, with a bound on the sum of the absolute values of the coefficients. It has connections to soft-thresholding of wavelet coefficients, forward stagewise regression, and boosting methods.

In [143]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [144]:
X = df1.iloc[:, :22]
y = df1.iloc[:, -1]
X = X.to_numpy()
y = y.to_numpy()

In [145]:
sc = StandardScaler()

X_stdscaler = sc.fit(X)
X_std = X_stdscaler.transform(X)

In [146]:
pipeline = Pipeline([('lasso', Lasso(alpha=0.01, fit_intercept=True, normalize=False,
                  copy_X=True, max_iter=10000, tol=0.0001, warm_start=False, positive=False,
                  random_state=22))])

In [147]:
params = {'lasso__alpha':(0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1, 0.2, 0.3, 0.4)}

In [148]:
lasso_grid = GridSearchCV(pipeline, params, n_jobs=-1,
                            cv=3, verbose=1)

In [149]:
lasso_grid.fit(X_std, y)


lasso_grid.scorer_ 

lasso_grid.best_score_


best = lasso_grid.best_estimator_.get_params()

for k in sorted(params.keys()): 
    print('\t{0}: \t {1:.2f}'.format(k, best[k]))


y_pred = lasso_grid.predict(X_std)





print(mean_squared_error(y, y_pred))

print(r2_score(y, y_pred))

Fitting 3 folds for each of 14 candidates, totalling 42 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 out of  42 | elapsed:  2.2min finished
C:\Users\rmendes\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\pipeline.py:356: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  self._final_estimator.fit(Xt, y, **fit_params)
C:\Users\rmendes\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  positive)

	lasso__alpha: 	 0.00
7.528336429238168
0.1116227251442321

C:\Users\rmendes\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 839868.7403822459, tolerance: 189.0792941588018
  positive)

In [150]:
df_lasso_grid= pd.DataFrame(lasso_grid.cv_results_)
df_lasso_grid.head(14)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_lasso__alpha,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,128.932735,0.139286,0.007014,0.002155,0,{'lasso__alpha': 0},0.109828,0.104810,0.113422,0.109354,0.003532,1
1,12.519843,0.040326,0.033245,0.003851,0.01,{'lasso__alpha': 0.01},0.109538,0.104745,0.112642,0.108975,0.003248,2
2,11.211346,0.597591,0.050197,0.018929,0.02,{'lasso__alpha': 0.02},0.108486,0.103746,0.111019,0.107751,0.003014,3
3,10.086354,0.398501,0.059175,0.010181,0.03,{'lasso__alpha': 0.03},0.106638,0.102230,0.108795,0.105888,0.002732,4
4,4.435133,0.900380,0.047207,0.009006,0.04,{'lasso__alpha': 0.04},0.104141,0.100002,0.106143,0.103429,0.002557,5
5,3.641590,0.320158,0.050201,0.012467,0.05,{'lasso__alpha': 0.05},0.101684,0.098108,0.103501,0.101097,0.002240,6
6,3.285543,0.520496,0.037234,0.001881,0.06,{'lasso__alpha': 0.06},0.099798,0.096405,0.101611,0.099271,0.002158,7
7,2.815134,0.388392,0.047540,0.002617,0.07,{'lasso__alpha': 0.07},0.097555,0.094760,0.099726,0.097347,0.002033,8
8,2.443795,0.382182,0.040226,0.003672,0.08,{'lasso__alpha': 0.08},0.094965,0.093236,0.097835,0.095346,0.001897,9
9,1.987353,0.561328,0.034905,0.003731,0.09,{'lasso__alpha': 0.09},0.092043,0.091496,0.095717,0.093085,0.001874,10
10,1.884960,0.527295,0.022937,0.006959,0.1,{'lasso__alpha': 0.1},0.088765,0.089490,0.093368,0.090541,0.002021,11
11,1.049191,0.050834,0.027261,0.004181,0.2,{'lasso__alpha': 0.2},0.073465,0.072897,0.076022,0.074128,0.001359,12
12,0.789555,0.074455,0.017963,0.003728,0.3,{'lasso__alpha': 0.3},0.062635,0.062790,0.065789,0.063738,0.001452,13
13,0.677186,0.074183,0.011970,0.000814,0.4,{'lasso__alpha': 0.4},0.054268,0.055286,0.056922,0.055492,0.001093,14

In [151]:
0.109354-0.003532

0.10582200000000001

In [152]:
# lasso_grid.get_params(deep=True)
lasso_grid.best_estimator_

Pipeline(memory=None,
         steps=[('lasso',
                 Lasso(alpha=0, copy_X=True, fit_intercept=True, max_iter=10000,
                       normalize=False, positive=False, precompute=False,
                       random_state=22, selection='cyclic', tol=0.0001,
                       warm_start=False))],
         verbose=False)

In [153]:
# lasso_alfa = 0.03: last mean_test_score that is greater than best mean_test_score minus best std_test_score 
Lasso_rgr = Lasso(alpha=0.03, copy_X=True, fit_intercept=True, max_iter=10000,
                       normalize=False, positive=False, precompute=False,
                       random_state=22, selection='cyclic', tol=0.0001,
                       warm_start=False)

In [154]:
Lasso_rgr.fit(X_std, y)

Lasso(alpha=0.03, copy_X=True, fit_intercept=True, max_iter=10000,
      normalize=False, positive=False, precompute=False, random_state=22,
      selection='cyclic', tol=0.0001, warm_start=False)

In [155]:
Lasso_coef=pd.DataFrame(Lasso_rgr.coef_.reshape(1,-1), columns=df1.columns[0:22])

In [156]:
Lasso_coef.T

                                 0
PermanentIncomeSupport_1 -0.016013
PermanentIncomeSupport_2 -0.000000
PermanentIncomeSupport_3 -0.000000
Scholarship_1            -0.121721
Scholarship_2            -0.162067
Gender_M                 -0.169737
AcYear_11                 0.338341
AcYear_12                 0.381877
N_NoApprovals            -0.696693
Nationality              -0.000000
N_Enrollments            -0.137625
Computer                  0.000000
InternetAccess            0.045108
UrbanIndex               -0.028412
IncomeIndex              -0.000000
AgingIndex                0.018485
UnemploymentIndex        -0.000000
CulturalLevelIndex       -0.000000
ClassSize                 0.046299
SchoolSize                0.073116
N_SubjectsEnrolled        0.108429
Gender_M__ClassSize      -0.062464

According to Lasso features selection method there are five features that should be dropped: PermanentIncomeSupport_1, PermanentIncomeSupport_2, Nationality, IncomeIndex, CulturalLevelIndex, N_SubjectsEnrolled, Gender_M_ClassSize.

In [157]:
Lasso_coef.to_excel("Lasso_coef.xlsx", sheet_name='Coef')

Let's follow Lasso selection and drop the features from the dataset

In [47]:
df1.columns

Index(['PermanentIncomeSupport_1', 'PermanentIncomeSupport_2',
       'PermanentIncomeSupport_3', 'Scholarship_1', 'Scholarship_2',
       'Gender_M', 'AcYear_11', 'AcYear_12', 'N_NoApprovals', 'Nationality',
       'N_Enrollments', 'Computer', 'InternetAccess', 'UrbanIndex',
       'IncomeIndex', 'AgingIndex', 'UnemploymentIndex', 'CulturalLevelIndex',
       'ClassSize', 'SchoolSize', 'N_SubjectsEnrolled', 'Gender_M__ClassSize',
       'FinalMark'],
      dtype='object')

In [79]:
df1=df1.drop(['PermanentIncomeSupport_1', 'PermanentIncomeSupport_3', 'AcYear_11', 'Nationality',
              'InternetAccess', 'UrbanIndex', 'IncomeIndex', 'AgingIndex', 'CulturalLevelIndex',
              'ClassSize', 'Gender_M__ClassSize'], axis=1)

In [80]:
df1.shape

(139005, 12)

In [81]:
df1.head()

,PermanentIncomeSupport_2,Scholarship_1,Scholarship_2,Gender_M,AcYear_12,N_NoApprovals,N_Enrollments,Computer,UnemploymentIndex,SchoolSize,N_SubjectsEnrolled,FinalMark
1,0,0,0,1,1,0,1,0,11.76,519,5,19
2,1,1,0,0,1,0,1,0,11.76,519,5,16
11,0,0,0,1,1,0,1,0,11.76,519,5,17
17,0,0,0,1,0,0,1,0,11.76,519,7,16
21,0,0,0,1,0,0,1,0,11.76,519,7,16

In [82]:
df1.to_excel("PREPARED_ExactSciences_DS_V1.xlsx", sheet_name='DATASET')

In [41]:
# from sklearn.ensemble import RandomForestRegressor

In [42]:
# rf_rgr = RandomForestRegressor(n_estimators = 10, criterion="mse", min_samples_leaf=0.001,
 #                              min_samples_split=0.001 , random_state=42)

In [43]:
# rf_rgr = RandomForestRegressor(random_state=42)

In [54]:
#params_rf = {"n_estimators": [10, 20, 50, 100, 150, 200],
 #            "min_samples_leaf": [0.001,0.002,0.003,0.004,0.005,0.006,0.007,0.008,0.009,0.01],
  #            "min_samples_split": [0.001,0.002,0.003,0.004,0.005,0.006,0.007,0.008,0.009,0.01,
   #             0.011,0.012, 0.013,0.014, 0.015, 0.016, 0.017, 0.018, 0.019, 0.02]
    #            "bootstrap": [True, False]}

In [55]:
#rf_grid = GridSearchCV(rf_rgr, params_rf,
 #                          n_jobs=-1, cv=3,
  #                         verbose=1)

In [56]:
#rf_grid.fit(X_train_std, y_train)
#rf_grid.best_score_
#0.16261159736426134

In [57]:
#rf_grid.best_score_

In [58]:
#rf_grid.best_estimator_.get_params()
#{'bootstrap': True,
 #'criterion': 'mse',
 #'max_depth': None,
 #'max_features': 'auto',
 #'max_leaf_nodes': None,
 #'min_impurity_decrease': 0.0,
 #'min_impurity_split': None,
 #'min_samples_leaf': 0.001,
 #'min_samples_split': 0.001,
 #'min_weight_fraction_leaf': 0.0,
 #'n_estimators': 200,
 #'n_jobs': None,
 #'oob_score': False,
 #'random_state': 42,
 #'verbose': 0,
 #'warm_start': False}

In [59]:
#for k in sorted(params_rf.keys()): 
 #   print('\t{0}: \t {1:.2f}'.format(k, best[k]))


#y_train_pred = rf_grid.predict(X_train_std)


#y_test_pred = rf_grid.predict(X_test_std)


#print("MSE train: {0:.4f}, test: {1:.4f}".\
 #     format(mean_squared_error(y_train, y_train_pred), 
  #           mean_squared_error(y_test, y_test_pred)))



#print("R^2 train: {0:.4f}, test: {1:.4f}".\
 #     format(r2_score(y_train, y_train_pred),
  #           r2_score(y_test, y_test_pred)))
             
   #   MSE train: 7.1993, test: 7.8908
    #  R^2 train: 0.2350, test: 0.1769