# High School Academic Achievement
## Portuguese
### Exploratory Data Analysis EDA¶

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
%matplotlib inline

In [2]:
df = pd.read_excel("PREPARED_DS_V1.xlsx")

In [3]:
df.head()

,PermanentIncomeSupport_1,PermanentIncomeSupport_2,PermanentIncomeSupport_3,Scholarship_1,Scholarship_2,Gender_M,AcYear_11,AcYear_12,N_NoApprovals,Nationality,...,UrbanIndex,IncomeIndex,AgingIndex,UnemploymentIndex,CulturalLevelIndex,ClassSize,SchoolSize,N_SubjectsEnrolled,Gender_M__ClassSize,FinalMark
0,0,0,0,0,0,0,1,0,0,0,...,138.4,875.1,146.2,9.73,12.77,23,193,7,0,10
1,0,0,0,0,0,1,0,1,0,0,...,5090.4,1560.6,189.3,11.76,70.93,29,519,5,29,19
2,0,1,0,1,0,0,0,1,0,0,...,5090.4,1560.6,189.3,11.76,70.93,29,519,5,0,16
3,1,0,0,0,1,0,1,0,2,0,...,5090.4,1560.6,189.3,11.76,70.93,25,519,7,0,10
4,0,0,0,0,0,1,0,1,0,0,...,5090.4,1560.6,189.3,11.76,70.93,29,519,5,29,17

In [4]:
df.shape

(362127, 24)

In [5]:
Course_Subject = df['CourseSubject'].unique()
print("Shape per Course Subject:\n")
for i in Course_Subject:
    Subject_i= df[df['CourseSubject']== i]
    print(i, '\t', Subject_i.shape)

Shape per Course Subject:

Língua Estrangeira I - Inglês 	 (54885, 24)
Matemática A 	 (46593, 24)
Biologia 	 (16451, 24)
Psicologia B 	 (16197, 24)
Português 	 (75035, 24)
História A 	 (19756, 24)
Filosofia 	 (57249, 24)
Geografia A 	 (19884, 24)
Física e Química A 	 (28581, 24)
Biologia e Geologia 	 (27496, 24)

In [6]:
df1=df[(df['CourseSubject'] == "Português")]

In [7]:
df1.shape

(75035, 24)

In [8]:
df1.to_excel("GAW_Portuguese_DS.xlsx", sheet_name='DATASET')

In [9]:
df1.columns

Index(['PermanentIncomeSupport_1', 'PermanentIncomeSupport_2',
       'PermanentIncomeSupport_3', 'Scholarship_1', 'Scholarship_2',
       'Gender_M', 'AcYear_11', 'AcYear_12', 'N_NoApprovals', 'Nationality',
       'N_Enrollments', 'Computer', 'InternetAccess', 'CourseSubject',
       'UrbanIndex', 'IncomeIndex', 'AgingIndex', 'UnemploymentIndex',
       'CulturalLevelIndex', 'ClassSize', 'SchoolSize', 'N_SubjectsEnrolled',
       'Gender_M__ClassSize', 'FinalMark'],
      dtype='object')